.jumbotron-1 {
  /* height: 500px; */
  margin: 0;
  font-family: "Hind Siliguri", sans-serif;
  padding: 0;
  padding-bottom: 0;
  /* background-image: url(https://i.postimg.cc/y8pVZ3tB/delete-1.jpg);
  background-size: cover;
  background-repeat: no-repeat; */

  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
  
}
.signin-button {
  position: absolute;
  top: 0;
  right: 0; }
.btn-signup {
  background-color: #0202aa;
  color: white; }

/* .btn-signin {
  background-color: #000046; } */

.btn-signin:hover {
  background-color: #1CB5E0; }

.btn-signup:hover {
  background-color: #1CB5E0;
  color: white; }
  .no-margin {
    margin: 0; }
  
  .add-margin-top {
    margin-top: 200px; }
  
  .add-margin-bot {
    margin-bottom: 100px; }
.input-style {
  height: 50px;
}
.custom-navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.custom-navbar-toggler {
  border: 1px solid white; }
.fa-custom {
  color: rgba(248, 246, 246, 0.9); }
.contact-description {
  font-size: 30px;
  font-weight: 600;
  
}
.site-footer {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 105px;

  
}
.card-popular:hover {
  border: solid 1px #1CB5E0;
}
.card-popular {
  width: 150px;
}
/* .footerStabilizer{
  position: absolute;
  bottom: 0;
  width: 100%;
} */
.cart-buttons {
  border: none;
  background: none;
  color: #0453ff;
}
/* .container-dish {
  background: rgb(250, 177, 177);
} */
.product-button-add {
  background-color: red;
}
.container-contour {
  
  border-left: solid 1px #1CB5E0;
}
.addMinHeight {
  min-height: 40vh;
}
.custom-breadcrumbs {
  margin-top: -30px;
  background: none;
}